.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

nav .navbar-nav > a {
  font-size: 1.2rem;
}

.layout-panel {
  background-color: #f7f7f7;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 20vh;
}

#recipe-modal .input-group-text {
  background-color: #ffeeba;
  color: #856404;
  border-color: rgba(0, 0, 0, 0.125);
}

#input-dropdown-modal {
  background-color: #ffeeba;
  color: #856404;
  border-color: rgba(0, 0, 0, 0.125);
}
#input-dropdown-modal:hover {
  background-color: #ffe8b1;
}

#recipe-modal .form-control {
  border-color: rgba(0, 0, 0, 0.125);
}

