.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  filter: drop-shadow(2px 4px 6px gray);
}

nav .fixed-top {
  top: 0.4 vh;
}
nav .navbar-nav > a {
  font-size: 1.5rem;
}

.sidebar-panel {
  background-color: #f7f7f7;
  position: sticky;
  height: 77vh;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 20vh;
}

.blue-saphire {
  background-color: #05668d;
}

#recipe-modal .input-group-text {
  background-color: #ffeeba;
  color: #856404;
  border-color: rgba(0, 0, 0, 0.125);
}

#input-dropdown-modal {
  background-color: #ffeeba;
  color: #856404;
  border-color: rgba(0, 0, 0, 0.125);
}
#input-dropdown-modal:hover {
  background-color: #ffe8b1;
}

#recipe-modal .form-control {
  border-color: rgba(0, 0, 0, 0.125);
}

#full-recipe-container .nav-link {
  color: gray;
}
#full-recipe-container .nav-link.active {
  color: #f0ad4e;
}
#full-recipe-container .nav-link:hover {
  color: #856404;
}

#full-recipe-container > section li {
  list-style-type: none;
}
